<h1>My Personal Weather Lookup</h1>
It is <%= @weather_lookup.title %> the title of this post, in Missouri!
<%=  @weather_lookup.speaking %> is a good way to see what our Senators are actually saying!